body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d0edea;
}

ul{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.wrapper-weather {
  box-shadow: 0 0 25px 6px #0fc2bc;
  border: none;
  background-color: #fff;
  margin-top: 15px;
  position: relative;
  border: 3px solid #000;
}

.min,
.max {
  position: absolute;
  top: 37%;
  background-color: #0fc2bc;
  border: 3px solid #000;
  padding: 50px;
  z-index: 9999;
}

.min {
  left: 0;
  border-left: none;
}

.max {
  right: 0;
  border-right: none;
}

.img-weather {
  display: block;
  background-color: #0fc2bc;
  border: 3px solid #000;
  border-radius: 100%;
  padding: 30px;
  width: 200px;
  height: 200px;
}

.img-weather img {
  width: 100%;
  height: 100%;
}

.temp {
  font-size: 70px;
}

.names {
  border: 2px solid #333;
  font-size: 20px;
  position: relative;
  font-weight: bolder;
  padding: 50px 35px;
  background-color: #0fc2bc;
}

.city {
  float: left;
}

.country {
  float: right;
}

.header-text {
  font-size: 2rem;
  font-weight: bolder;
  ;
}

.location {
  width: 30px;
  height: 30px;
  vertical-align: baseline;
  display: inline-block;
}

.other-location{
  width: 45px;
  height: 45px;
  vertical-align: baseline;
  display: inline-block;
}

.error-msg {
  color: red;
  font-weight: bolder;
  background-color: #ffcaca;
  padding: 50px;
  border: 3px solid #000;
  text-align: center;
}

button.add {
  background: none;
  border: none;
  font-size: 80px;
  margin: 0 auto;
  display: block;
}

.list-city{
    background-color: #fff;
    display: inline-block;
    padding: 15px;
    border: 3px solid #000;
    box-shadow: 0 0 15px 3px #009688;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0;
    position:relative;
}

.close-button{
  position: absolute;
  top: 0;
  left: 0;
  background: #11c2bc;
  color: #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 25px;
  height: 25px;
  line-height: 23px;
  z-index: 999;
  cursor: pointer;
}

.close-button:hover{
  background: #7ec8c6;
}

.list-city span{
  display: block;
  font-weight: bolder;
  padding: 15px;
  border-bottom:2px dashed #000;
  line-height: 30px;
}

.list-city span img{
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.list-city span:last-child{
  border-bottom:none;
}

.list-city span:nth-of-type(2n) {
  background: #0fc2bc;
}

.form-control{
  border: 3px solid #000000;
  border-radius: 0;
}

.form-control:focus{
  border: 3px solid #000;
  box-shadow: 0 0 15px 3px #009688;
}

.wrapper-search{
  border: 2px solid #000;
  padding: 20px 0;
  margin-bottom: 15px;
}

.alert-modal{
  border:3px solid #000;
}

/*loader*/

/* @import "compass/css3"; */
.loader{
  display: inline-block !important;
}

svg {
  width: 110px;
  height: 110px;
}

path {
  stroke: #9ea1a4;
  stroke-width: 0.25;
  fill: #241E20;
}

#cloud {
  position: relative;
  z-index: 2;
}

#cloud path {
  fill: #0fc2bc;
  stroke: #000;
}

#sun {
  margin-left: -10px;
  margin-top: 6px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 51px;
  z-index: 1;
  
  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun path {
  stroke-width: 0.18;
  fill: yellow;
  stroke: #000;
}


@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Rain */
.rain {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}

.rain span{
  background:#0fc2bc;
}

.drop {
  opacity: 1;
  background: #9ea1a4;
  display: block;
  float: left;
  width: 3px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;
  
  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}


@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.wrapper-search #sun{
  top: 25px;
}

/* Theme */


@media screen and (max-width:1200px){
  .min,.max{
    top:51%;
    padding: 20px;
  }

  .temp {
    font-size: 50px;
  }
}